---
title: Pega for PCF
owner: Partners
---

This documentation describes the Pega® Platform Service Broker for Pivotal Cloud Foundry (PCF). 
The Pega Platform Service Broker for PCF enables developers to deploy Pega Platform clusters on PCF.

## <a id='overview'></a>Overview

Pega customers can run the Pega® Platform and applications within the PCF environment. 
With the release of Pega Platform 7.3, Pega customers are provided greater choice on their path to the cloud. 
This choice includes creating a private cloud powered by PCF and continuing to leverage the value of Pega technology.

Learn about the Pega® Platform [here](https://pdn.pega.com) and register [here](https://accounts.pega.com/register) to access Pega documentation.

## <a id='features'></a>Key Features
Pega for PCF includes the following key features:

* Configuration interface for the Pega Service Broker
* Pega system setting and Java argument configuration
* Pega Platform cluster deployment
* Pega Platform database connection from a PCF environment
* Pega CRM applications on PCF: Pega Sales Automation, Pega Customer Service, and Pega Marketing
* Load-balanced clusters 
* Leveraged external file sources for file listeners and Business Intelligence Exchange (BIX)

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about Pega for PCF.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v7.3</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>July 19, 2017</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>7.3</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.9</td>
    </tr>
    <tr>
        <td>Compatible Elastic Runtime version(s)</td>
        <td>v1.9</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>Microsoft Azure and Amazon Web Service (AWS)</td>
    </tr>
    <tr>
        <td>IPsec support?</td>
        <td>Yes</td>
    </tr>
</table>

## <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions to the 
[Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list or send an email to Fawzi.Karachi@pega.com.

## <a id='license'></a>License

Pega for PCF is available at no additional charge and with no additional license requirements to current Pega Platform customers.
