---
title: Pega for Pivotal Platform
owner: Partners
---

This documentation describes the Pega® Platform Service Broker for Pivotal Platform. 
The Pega Platform Service Broker for Pivotal Platform enables developers to deploy Pega Platform clusters on Pivotal Platform.

## <a id='overview'></a>Overview

Pega customers can run the Pega® Platform and applications within the Pivotal Platform environment for greater choice on their path to the cloud. 
This choice includes creating a private cloud powered by Pivotal Platform and continuing to leverage the value of Pega technology.

Learn about Pega® Platform [here](https://pdn.pega.com) and register [here](https://accounts.pega.com/register) to access Pega documentation.

## <a id='features'></a>Key Features
Pega for Pivotal Platform includes the following key features:

* Configuration interface for the Pega Service Broker
* Pega system setting and Java argument configuration
* Pega Platform cluster deployment
* Pega Platform database connection from a Pivotal Platform environment
* Pega CRM applications on Pivotal Platform: Pega Sales Automation, Pega Customer Service, and Pega Marketing
* Load-balanced clusters 
* Leveraged external file sources for file listeners and Business Intelligence Exchange (BIX)

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about Pega for Pivotal Platform.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v8.10.1</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>October 26, 2018</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>8.10.1</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v2.3</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service version(s)</td>
        <td>v2.3</td>
    </tr>
    <tr>
        <td>BOSH stemcell version</td>
        <td>Ubuntu Xenial</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>Microsoft Azure and Amazon Web Service (AWS)</td>
    </tr>
    <tr>
        <td>IPsec support?</td>
        <td>Yes</td>
    </tr>
</table>

<p class="note warning"><strong> WARNING:</strong>
Pega for Pivotal Platform v7.30.2
and earlier require a Ubuntu Trusty stemcell.
The end-of-life date for Ubuntu Trusty is April 2019.
If a security vulnerability is found on this stemcell after April, it will not be fixed.</p>

## <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions to the 
[Pivotal Platform Feedback](mailto:pivotal-cf-feedback@pivotal.io) list or send an email to Fawzi.Karachi@pega.com.

## <a id='license'></a>License

Pega for Pivotal Platform is available at no additional charge and with no additional license requirements to current Pega Platform customers.
