---
title: Pega for PCF Release Notes
owner: Partners
---

These are release notes for Pega® for PCF.

## <a id="ver"></a> v7.30.1 

**Release Date:** July 19, 2017

Features included in this release:

* Initial release
