---
title: Pega for Pivotal Platform Release Notes
owner: Partners
---

These are release notes for Pega® for Pivotal Platform.

## <a id="ver"></a> v8.10.1

**Release Date:** October 26, 2018

Features included in this release:

* Added support for Pega stream nodes

* Added support for customer-supplied versions of Apache Tomcat and Java


## <a id="ver"></a> v7.30.2

**Release Date:** September 14, 2017

Features included in this release:

* Fixed a Tomcat startup issue


Features included in this release:

* Fixed a Tomcat startup issue


## <a id="ver"></a> v7.30.1 

**Release Date:** July 19, 2017

Features included in this release:

* Initial release
