---
title: Pega for PCF Release Notes
owner: Partners
---

These are release notes for Pega® for PCF.

## <a id="ver"></a> v7.30.2 

**Release Date:** September 14, 2017

Features included in this release:

* Initial release
